@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-dark: #333333;
  --color-light: #ffffff;
  --color-gray: #6b7280;
  --color-gray-dark: #555555;
  --color-gray-light: #f3f3f3;

  --color-blue: #003d66;
  --color-blue-light: #d0ebff;
  --color-blue-lighter: #e0f2ff;
}

body {
  background: var(--color-gray-light);
  color: var(--color-dark);
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;

  @media (max-width: 1280px) {
    font-size: 3rem;
  }

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  color: var(--color-gray);
  line-height: 1.4;
  text-align: center;

  @media (max-width: 1280px) {
    font-size: 1.75rem;
  }

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;

  @media (max-width: 1280px) {
    font-size: 1.8rem;
  }

  @media (max-width: 768px) {
    font-size: 1.375rem;
  }

  @media (max-width: 480px) {
    font-size: 1.25rem;
  }
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-dark);

  @media (max-width: 1280px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1.125rem;
  }
}

h5 {
  font-size: 1.25rem;
  text-align: center;

  @media (max-width: 1280px) {
    font-size: 1.125rem;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.9375rem;
  }
}

p {
  font-size: 1.5rem;
  color: var(--color-gray);
  line-height: 1.5;

  @media (max-width: 1280px) {
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    font-size: 1.125rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.card p {
  font-size: 1.25rem;

  @media (max-width: 1280px) {
    font-size: 1.125rem;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.9375rem;
  }
}

#footer-text {
  color: var(--color-light);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 70px !important;
  height: 70px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black !important;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px !important;
  height: 10px !important;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
