@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-dark: #333333;
  --color-light: #ffffff;
  --color-gray: #6b7280;
  --color-gray-dark: #555555;
  --color-gray-light: #f3f3f3;

  --color-blue: #003d66;
  --color-blue-light: #d0ebff;
  --color-blue-lighter: #e0f2ff;
}

body {
  background: var(--color-gray-light);
  color: var(--color-dark);
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  color: var(--color-gray);
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 1.5rem;
  color: var(--color-gray);
}
